
 @font-face {
    font-family: 'Neue Machina';
    src: url(/src/assets/font/neue-machina-font-family/NeueMachina-Regular.ttf);
 }

 .neue_font {
    font-family: 'neue machina', sans-serif;
 }

.container_1::after{
   background-image: url("./assets/images/webp/timeline-left-icon.webp") !important;
      background-position: center;
      background-size: cover;
}
.container_2::after {
   background-image: url("./assets/images/webp/timeline-right-icon.webp") !important;
   background-position: center;
   background-size: cover;
}
.italic_style{
   font-style: italic;
}
 @media (min-width:470px) and (max-width:640px) {
    .bottom_45 {
       bottom: -45px;
    }
 }

 @media(max-width:767.98px) {
.container_1::after {
      background-image: url("./assets/images/webp/timeline-right-icon.webp") !important;
   }
      .container_2::after {
         background-image: url("./assets/images/webp/timeline-right-icon.webp") !important;
      }
 }
 

